export ANSIBLE_PRIVATE_KEY_FILE=~/.ssh/keys/name-of-your-private-key.pem
export AWS_ACCOUNT_ID=************
export AWS_REGION=***
export ENV=dev
export IMAGE_NAME=aitt/angle-symbol-clf-${ENV}
export IMAGE_TAG=0.1.0
export SERVICE_NAME=aitt-symbol-clf
export PORT_INPUT=8000
export DOCKER_NETWORK=aitt-network